$font-stack: (
    'Gill Sans',
    'Gill Sans MT',
    'Calibri',
    'Trebuchet MS',
    sans-serif
);

* {
    box-sizing: border-box;
    font-family: $font-stack;
}

body {
    width: 96vw;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
}

form {
    max-width: 400px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo textarea,
.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form button {
    max-width: 120px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #006aff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}